<div class="public-recipe">
    <h1>
        <%= recipe.name %>
    </h1>
    <p>
        <%= recipe.description %>
    </p>
    <p>
        Cooking Time: <%= recipe.cooking_time %>
        Preperation Time: <%= recipe.preparation_time %>
    </p>
</div>
