<tr class="body-row">
    <td class="item">Food 1</td>
    <td class="item">Measure 1</td>
    <td class="item">Unit 1</td>
    <td class="item">
        <%= link_to 'Delete', foods_path, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
</tr>