.form-container,
.food-form {
  max-width: 40%;
  margin: auto;
  box-shadow: 7px 7px 10px 10px gray;
  border-radius: 15px;
  padding: 3% 0;
  margin-top: 3%;
  padding-inline-start: 2%;
}

.food-form {
  max-width: 25%;
  margin-top: 8%;
}

.form-container > h2 {
  margin: 0 auto;
  text-decoration: underline;
  text-align: center;
  text-transform: capitalize;
}

.logo > img {
  max-width: 45%;
  margin: 0 27%;
}

.food-btn {
  display: flex;
}

.actions > input,
.food-btn > input,
.special-btn {
  padding: 1%;
  min-width: 15%;
  border-radius: 10px;
  margin: 2% auto;
  box-shadow: 5px 5px 5px blueviolet;
}

.food-btn > input {
  padding: 3%;
  min-width: 25%;
  margin: 3% 30% 0 30%;
}

.field input:not(:nth-of-type(2)) {
  height: 30px;
  min-width: 90%;
  border-radius: 5px;
  filter: drop-shadow(2px 3px 4px black);
  border: none;
  margin-bottom: 2%;
  outline: none;
}

.buttons,
.food-buttons {
  display: flex;
  min-width: 30%;
  justify-content: space-between;
  position: fixed;
  top: 5vh;
  right: 5%;
}

.food-buttons {
  min-width: 50%;
}

.btn {
  border-radius: 15px;
  padding: 1%;
  box-shadow: 5px 5px 5px 2px gray;
  font-family: cursive;
}

.special-btn {
  min-width: 0;
  position: fixed;
  right: 5%;
  top: 2vh;
  box-shadow: 5px 5px 5px 2px gray;
}

.btn:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.actions > input:hover,
.food-btn > input:hover {
  background-color: green;
  color: white;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
}

.special-btn:hover {
  background-color: red;
  color: white;
}

.food-container {
  max-width: 60%;
  margin: 10% auto;
}

.food-table {
  border-collapse: collapse;
  min-width: 100%;
}

tbody {
  border: 2px solid black;
  box-shadow: 5px 5px 5px 5px lightgray;
}

.heading,
.item {
  border: 1px solid black;
  padding: 8px;
  font-family: sans-serif;
}

.public-recipes-container {
  max-width: 40%;
  margin: 10% auto;
}

.public-recipes-container > h2 {
  text-align: center;
}

.public-recipe {
  border: 3px solid;
  border-radius: 20px;
  padding: 1% 5%;
  margin-bottom: 5%;
  color: black;
}

.link {
  text-decoration: none;
}

.heading + .heading {
  padding-left: 20px;
}

.item:last-of-type > a:hover {
  color: red;
}

.recipe-container {
  max-width: 50%;
  margin: auto;
  margin-top: 15%;
}

.recipe {
  border: 3px solid;
  border-radius: 15px;
  padding: 2% 5%;
  display: flex;
  margin-bottom: 2%;
  align-items: stretch;
}

.left-side {
  margin-inline-end: 5%;
}

.left-side > div {
  margin-bottom: 20%;
  text-decoration: none;
}

.left-side > div:nth-child(1) > a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

.text-field {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.text-field textarea {
  max-width: 90%;
  border-radius: 5px;
  height: 10vh;
  resize: none;
}

.checkbox {
  margin: 2%;
  display: flex;
  align-items: stretch;
  font-size: 1.2rem;
}

.show-recipe-container {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 25%;
}

.details {
  margin-top: 2%;
}

.details * {
  margin-bottom: 5%;
  font-size: 1.2rem;
}