.form-container,
.food-form {
  max-width: 40%;
  margin: auto;
  box-shadow: 7px 7px 10px 10px gray;
  border-radius: 15px;
  padding: 3% 0;
  margin-top: 3%;
  padding-inline-start: 2%;
}

.food-form {
  max-width: 25%;
  margin-top: 10%;
}

.form-container > h2 {
  margin: 0 auto;
  text-decoration: underline;
  text-align: center;
  text-transform: capitalize;
}

.logo > img {
  max-width: 45%;
  margin: 0 27%;
}

.actions > input,
.food-btn > input {
  padding: 1%;
  min-width: 15%;
  border-radius: 10px;
  margin: 2% auto;
  box-shadow: 5px 5px 5px blueviolet;
}

.food-btn > input {
  padding: 2%;
  min-width: 25%;
  margin: 5% 33% 0 33%;
}

.field input:not(:nth-of-type(2)) {
  height: 30px;
  min-width: 90%;
  border-radius: 5px;
  filter: drop-shadow(2px 3px 4px black);
  border: none;
  margin-bottom: 2%;
  outline: none;
}

.actions > input:hover,
.food-btn > input:hover {
  background-color: green;
  color: white;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
}

.add-btn {
  position: fixed;
  right: 5%;
  top: 5vh;
  border-radius: 15px;
  padding: 1%;
  font-family: cursive;
}

.add-btn:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}

.food-container {
  max-width: 60%;
  margin: 10% auto;
}

.food-table {
  border-collapse: collapse;
  min-width: 100%;
}

tbody {
  border: 2px solid black;
  box-shadow: 5px 5px 5px 5px lightgray;
}

.heading,
.item {
  border: 1px solid black;
  padding: 8px;
  font-family: sans-serif;
}

.public-recipes-container {
  max-width: 40%;
  margin: 10% auto;
}

.public-recipes-container > h2 {
  text-align: center;
}

.public-recipe {
  border: 3px solid;
  border-radius: 20px;
  padding: 1% 5%;
  margin-bottom: 5%;
  color: black;
}

.link {
  text-decoration: none;
}

.heading + .heading {
  padding-left: 20px;
}

.item:last-of-type > a:hover {
  color: red;
}
